.top-nav {
  display: block;
  position: fixed;
  right: 30px;
  bottom: 0px;
  width: 48px;
  height: 35px;
  border-radius: 4px 4px 0px 0px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background: #333;
  transition: background-color 0.5s;
}

.top-nav:hover{
  background: #2176ff;
  color: white;
}